/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow: scroll !important
}
.bg-dark-900 {
    background-color: rgba(22,21,34,1);
}
.bg-dark-800 {
    background-color: rgba(32,34,49,1);
}
.bg-dark-700 {
    background-color: rgba(46,51,72,1);
}
.bg-primary {
    background-color: rgb(140, 79, 248);
}
.bg-primary-light {
    background-color: rgba(140, 79, 248,0.1);
}
.primary {
    color:rgb(140, 79, 248)
}
.bg-pink-light {
    background-color: rgba(236, 72, 153, 0.1);
}
.bg-pink {
    background-color: rgba(243,56,195,1);
}
.blur-\[150px\] {
    --tw-blur: blur(150px);
}
.opaque-pink {
    color:rgba(243,56,195,0.50196)
}
.opaque-blue{
    color:rgba(9,147,236,0.50196)
}
.bg-secondary {
    background-color: #212429;
}
.border-dark-800 {
    border-color: rgba(32,34,49,1);
}
.min-h-empty {
    min-height: 128px;
}

.hover\:bg-primary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(140, 79, 248);
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  