/*
    Source - https://github.com/snapshot-labs/snapshot/blob/master/src/components/BaseMarkdown.vue
*/

.toastui-editor-contents {
  min-width: 100%;
  max-width: 0;
}
.toastui-editor-contents,
.toastui-editor-contents > * {
  font-size: 16px;
  line-height: 1.3;
  word-wrap: break-word;
}

.toastui-editor-contents::before {
  display: table;
  content: '';
}

.toastui-editor-contents blockquote {
  color: var(--text-color);
  border-left-color: var(--text-color);
}

.toastui-editor-contents::after {
  display: table;
  clear: both;
  content: '';
}

.toastui-editor-contents > *:first-child {
  margin-top: 0 !important;
}

.toastui-editor-contents > *:last-child {
  margin-bottom: 0 !important;
}

.toastui-editor-contents a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.toastui-editor-contents a {
  color: #fabd2e !important;
}

.toastui-editor-contents .absent {
  color: #cb2431;
}

.toastui-editor-contents .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.toastui-editor-contents .anchor:focus {
  outline: none;
}

.toastui-editor-contents p,
.toastui-editor-contents blockquote,
.toastui-editor-contents ul,
.toastui-editor-contents ol,
.toastui-editor-contents dl,
.toastui-editor-contents table,
.toastui-editor-contents pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.toastui-editor-contents hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.toastui-editor-contents blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.toastui-editor-contents blockquote > :first-child {
  margin-top: 0;
}

.toastui-editor-contents blockquote > :last-child {
  margin-bottom: 0;
}

.toastui-editor-contents kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.toastui-editor-contents h1,
.toastui-editor-contents h2,
.toastui-editor-contents h3,
.toastui-editor-contents h4,
.toastui-editor-contents h5,
.toastui-editor-contents h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.4 !important;
}

.toastui-editor-contents h1 .octicon-link,
.toastui-editor-contents h2 .octicon-link,
.toastui-editor-contents h3 .octicon-link,
.toastui-editor-contents h4 .octicon-link,
.toastui-editor-contents h5 .octicon-link,
.toastui-editor-contents h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.toastui-editor-contents h1:hover .anchor,
.toastui-editor-contents h2:hover .anchor,
.toastui-editor-contents h3:hover .anchor,
.toastui-editor-contents h4:hover .anchor,
.toastui-editor-contents h5:hover .anchor,
.toastui-editor-contents h6:hover .anchor {
  text-decoration: none;
}

.toastui-editor-contents h1:hover .anchor .octicon-link,
.toastui-editor-contents h2:hover .anchor .octicon-link,
.toastui-editor-contents h3:hover .anchor .octicon-link,
.toastui-editor-contents h4:hover .anchor .octicon-link,
.toastui-editor-contents h5:hover .anchor .octicon-link,
.toastui-editor-contents h6:hover .anchor .octicon-link {
  visibility: visible;
}

.toastui-editor-contents h1 tt,
.toastui-editor-contents h1 code,
.toastui-editor-contents h2 tt,
.toastui-editor-contents h2 code,
.toastui-editor-contents h3 tt,
.toastui-editor-contents h3 code,
.toastui-editor-contents h4 tt,
.toastui-editor-contents h4 code,
.toastui-editor-contents h5 tt,
.toastui-editor-contents h5 code,
.toastui-editor-contents h6 tt,
.toastui-editor-contents h6 code {
  font-size: inherit;
}

.toastui-editor-contents h1 {
  font-size: 1.5em;
  border-bottom: none !important;
}

.toastui-editor-contents h2 {
  font-size: 1.25em;
  border-bottom: none !important;
}

.toastui-editor-contents h3 {
  font-size: 1em;
  border-bottom: none !important;
}

.toastui-editor-contents h4 {
  font-size: 0.875em;
  border-bottom: none !important;
}

.toastui-editor-contents h5 {
  font-size: 0.85em;
  border-bottom: none !important;
}

.toastui-editor-contents h6 {
  font-size: 0.8em;
  border-bottom: none !important;
}

.toastui-editor-contents ul,
.toastui-editor-contents ol {
  padding-left: 2em;
}

.toastui-editor-contents ul.no-list,
.toastui-editor-contents ol.no-list {
  padding: 0;
  list-style-type: none;
}

.toastui-editor-contents ul {
  list-style-type: disc;
}

.toastui-editor-contents ol {
  list-style-type: decimal;
}

.toastui-editor-contents ul ul,
.toastui-editor-contents ul ol,
.toastui-editor-contents ol ol,
.toastui-editor-contents ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.toastui-editor-contents li {
  word-wrap: break-all;
}

.toastui-editor-contents li > p {
  margin-top: 16px;
}

.toastui-editor-contents li + li {
  margin-top: 0.25em;
}

.toastui-editor-contents dl {
  padding: 0;
}

.toastui-editor-contents dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 500;
}

.toastui-editor-contents dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.toastui-editor-contents table {
  display: block;
  width: 100%;
  overflow: auto;
}

.toastui-editor-contents table th {
  font-weight: 500;
}

.toastui-editor-contents table th,
.toastui-editor-contents table td {
  padding: 6px 13px;
  border: 1px solid var(--border-color);
}

.toastui-editor-contents table thead tr,
.toastui-editor-contents table tbody tr:nth-child(2n) {
  background-color: var(--bg-color);
  border-top: 1px solid #c6cbd1;
}

.toastui-editor-contents table tbody tr {
  background-color: var(--bg-color);
}

.toastui-editor-contents table img {
  background-color: transparent;
}

.toastui-editor-contents img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
  cursor: pointer;
}

.toastui-editor-contents img[align='right'] {
  padding-left: 20px;
}

.toastui-editor-contents img[align='left'] {
  padding-right: 20px;
}

.toastui-editor-contents .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.toastui-editor-contents span.frame {
  display: block;
  overflow: hidden;
}

.toastui-editor-contents span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #dfe2e5;
}

.toastui-editor-contents span.frame span img {
  display: block;
  float: left;
}

.toastui-editor-contents span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #24292e;
}

.toastui-editor-contents span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.toastui-editor-contents span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.toastui-editor-contents span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.toastui-editor-contents span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.toastui-editor-contents span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.toastui-editor-contents span.align-right span img {
  margin: 0;
  text-align: right;
}

.toastui-editor-contents span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.toastui-editor-contents span.float-left span {
  margin: 13px 0 0;
}

.toastui-editor-contents span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.toastui-editor-contents span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.toastui-editor-contents code,
.toastui-editor-contents tt {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-size: 16px;
}

.toastui-editor-contents code br,
.toastui-editor-contents tt br {
  display: none;
}

.toastui-editor-contents del code {
  text-decoration: inherit;
}

.toastui-editor-contents pre {
  font-size: 16px;
  word-wrap: normal;
}

.toastui-editor-contents pre {
  color: var(--link-color);
  background-color: var(--border-color);
  position: relative;
}

.toastui-editor-contents pre > code {
  .copy {
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
  }
}

.toastui-editor-contents pre > code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.toastui-editor-contents .highlight {
  margin-bottom: 16px;
}

.toastui-editor-contents .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.toastui-editor-contents .highlight pre,
.toastui-editor-contents pre {
  padding: 16px;
  overflow: auto;
}

.toastui-editor-contents pre code,
.toastui-editor-contents pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.toastui-editor-contents .csv-data td,
.toastui-editor-contents .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.toastui-editor-contents .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #fff;
  border: 0;
}

.toastui-editor-contents .csv-data tr {
  border-top: 0;
}

.toastui-editor-contents .csv-data th {
  font-weight: 500;
  background: #f6f8fa;
  border-top: 0;
}
