#sentry-feedback {
  z-index: 1;
  --font-family: 'DM Sans';
  --background: var(--colors-color-neutral-950);
  --actor-hover-background: var(--colors-color-neutral-900);
  --actor-border: '1px solid var(--colors-color-neutral-800)';
  --actor-border-radius: 0.75rem;
  --foreground: var(--colors-color-white);
  --font-size: 16px;
}
