@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/dm-sans/index.css";
@import "react-virtualized/styles.css";
@import "rc-slider/assets/index.css";

@import "./variables.css";

@import "./react-morphing-modal.css";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: "case" 1, "rlig" 1, "calt" 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--text-primary);
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:focus {
  outline: none;
}

input:focus {
  box-shadow: none;
  outline: none;
}

.striped-background {
  background: repeating-linear-gradient(
    45deg,
    #161522,
    #161522 10px,
    #0d0415 10px,
    #0d0415 20px
  );
}

/* *::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track-piece:start {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAQAAAAD+Fb1AAAADklEQVR42mNkgAJG3AwAAH4ABWjFc8IAAAAASUVORK5CYII=) repeat-y !important;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAQAAAAD+Fb1AAAADklEQVR42mNkgAJG3AwAAH4ABWjFc8IAAAAASUVORK5CYII=) repeat-y !important;
}

*::-webkit-scrollbar-thumb {
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #BFBFBF;
} */

.logo,
.lux-font {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-weight: 900;
}

video {
  height: auto !important;
  z-index: 1 !important;
}
.video-overlay {
  z-index: 2 !important;
}

.Asset__token-id,
.AssetModal__token-id {
  position: relative;
  bottom: 2px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
}

.AssetList__heading {
  position: relative;
  bottom: 16px;
  display: table;
  margin: 0 auto;
  background-color: black;
  padding: 0 10px;
}

.z-10001 {
  z-index: 10;
}
.from-btn1 {
  --tw-gradient-from: rgba(255, 64, 205, 0.9);
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(59, 130, 246, 0));
}
.to-btn2 {
  --tw-gradient-to: rgba(26, 175, 221, 0.9);
}
.bg-dark-900 {
  background-color: rgba(22, 21, 34, 1);
}

.from-blue {
  --tw-gradient-from: #2517ff;
  --tw-gradient-stops: #27b0e6;
}

.to-green {
  --tw-gradient-to: #15f195;
}

.MarketPlace {
  background: url("/img/leaves.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50%;
}

@media screen and (min-width: 1200px) {
  .MarketPlace {
    background-position: center right;
  }
}

/* Animation */
.bg-image {
  background: url('/img/bg-leaves.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.big-circle {
  width: 200px;
  max-width: 200px;
  height: 200px;
  border: 10px solid #2517ff;
  border-radius: 50%;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
}

.animal-content {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: absolute;
  top: 60px;
  left: 70px;
}

.animate-animal {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 60px;
  animation-name: anim;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.incubate {
  animation-delay: 9s;
}

.feed {
  animation-delay: 7s;
}

.grow {
  animation-delay: 4s;
}

.breed {
  animation-delay: 2s;
}

.animate-animal:hover {
  animation-play-state: paused;
}


@keyframes anim {
  from {
    transform: rotate(0deg) translateX(100px);
  }
  to {
    transform: rotate(360deg) translateX(100px);
  }
}


@media only screen and (min-width: 1024px) {
  .big-circle {
    width: 400px;
    max-width: 400px;
    height: 400px;
  }

  .animal-content {
    top: 150px;
    left: 170px;
  }

  .animate-animal {
    width: 150px;
    height: 150px;
    top: 120px;
    left: 120px;
  }

  @keyframes anim {
    from {
      transform: rotate(0deg) translateX(200px);
    }
    to {
      transform: rotate(360deg) translateX(200px);
    }
  }
}
