:root {
    --primary: #000;
    --text-primary: #fff;
    --font-sans: "Inter", -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', sans-serif;
    --scrollbar-width: 14px;
}
