node_modules
.env

# Hardhat files
/cache
/artifacts

# Publish files
index.ts
/publish

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

/.claude
*.local.*
